<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="helper_functions.js"></script>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="global_progress">
    <div>
        <span></span>
    </div>
    <p></p>
</div>
<div class="display" id="display_start">
    <div class="question">
        <span id="question_text"></span>
    </div>
    <div class="choices">
        <div id="start">
            <div id="form">
                <label for="input_name">Name:</label><input id="input_name" placeholder="enter name"/>
            </div>
            <div class="choice" onclick="onKeyHandler({keyCode: 32})">
                <span class="label" id="choice0_label">Start</span>
                <span class="info">Click or press
                    <span class="key" style="width: 30px"> </span> key
                </span>
            </div>
        </div>
    </div>
</div>

<div class="display" id="display_image">
    <div class="question">
        <span>Look at the image.</span>
    </div>
    <div class="choices">
        <div class="image_display">
            <img id="image" src="" alt="">
            <div class="progress"></div>
        </div>
    </div>
</div>

<div class="display" id="display_choice">
    <div class="question">
        <span>Which class describes best the image you saw?</span>
    </div>
    <div class="choices">
        <div class="choice" onclick="onKeyHandler({keyCode: 37})">
            <span class="label" id="choice1_label">Toad</span>
            <span class="info">Click or press <span class="key">←</span> key</span>
        </div>
        <div class="choice" onclick="onKeyHandler({keyCode: 39})">
            <span class="label" id="choice2_label">Toad</span>
            <span class="info">Click or press <span class="key">→</span> key</span>
        </div>
    </div>
</div>

<div class="display" id="display_maps">
    <div class="question">
        <span>Which area did you focus most for this decision?</span>
    </div>
    <div class="choices">
        <div class="choice" onclick="onKeyHandler({keyCode: 37})">
            <img src="" class="label_img" id="choice1_label_img" alt="" />
            <span class="info">Click or press <span class="key">←</span> key</span>
        </div>
        <div class="choice" onclick="onKeyHandler({keyCode: 39})">
            <img src="" class="label_img" id="choice2_label_img" alt="" />
            <span class="info">Click or press <span class="key">→</span> key</span>
        </div>
    </div>
</div>

<div class="display" id="display_end">
    <div class="question">
        <span>The End.</span>
    </div>
    <div class="choices">

    </div>
</div>
<script>
    let question_list;
    let results = {
        time: get_date(),
        name: "",
        data: [],
    };
    let duration = 1000; // in millie seconds
    let image_size = "200px";

    function show(part_name) {
        document.querySelectorAll(".display").forEach((e) => e.style.display = "none");
        document.querySelector(part_name).style.display = "";
    }

    const image_base_path = "static/interp_exp_files/";
    async function set_data(data) {
        console.log("set data", set_data)
        document.querySelector("#choice1_label").innerHTML = data.choices1;
        document.querySelector("#choice2_label").innerHTML = data.choices2;

        return Promise.all([
            set_image(document.querySelector("#image"), image_base_path+data.image, image_size),
            set_image(document.querySelector("#choice1_label_img"), image_base_path+data.maps1, image_size),
            set_image(document.querySelector("#choice2_label_img"), image_base_path+data.maps2, image_size),
        ]);
    }

    function set_progress(progress) {
        document.querySelector(".progress").style.width = `${progress}%`;
    }

    function set_global_progress(i, count) {
        document.querySelector(".global_progress div span").style.width = `${i/count*100}%`;
        document.querySelector(".global_progress p").innerText = `${i}/${count}`;
    }

    async function ProcessEvents() {
        // show the start screen
        show("#display_start");
        // focus the input field
        document.querySelector("#input_name").focus();
        // download the data from the flask server
        question_list = await (await fetch("data")).json();
        // wait for the user to press the button
        await waitingKeypress([32, 13]);
        // store the name
        results.name = document.querySelector("#input_name").value.trim()

        // iterate over the questions
        for(let j = 0; j < question_list.length; j++) {
            set_global_progress(j, question_list.length);
            // fill the display with the data
            let data = question_list[j];
            await set_data(data)

            // show the image and let the progress bar run
            show("#display_image");
            let timer = new Date();
            for (let i = 0; i <= 100; i++) {
                set_progress(100 - i);
                await delay(duration*i/100 - (new Date()-timer));
            }
            console.log("time", new Date() - timer);

            // ask which class
            show("#display_choice");
            // wait for the button press
            data.choice_answer  = await waitingKeypress([37, 39]);

            // ask about the attention map
            show("#display_maps");
            // wait for the answer
            data.maps_answer  = await waitingKeypress([37, 39]);

            // store the results
            results.data.push(data);
            console.log("answer", results);
            // save the results
            await fetchPost("save", results);
        }
        // display the end
        show("#display_end");
    }
    ProcessEvents();

</script>
</body>
</html>