body {
    background: #e6e6e6;
}

.display {
    margin: calc(100vh - 900px) 100px;
    /* background: #c2c2c2;
    border: 2px solid black;
    border-radius: 10px; */
}

.question {
    display: flex;
    font-size: 2em;
    height: 150px;
    /* border-radius: 5px 5px 0 0;
    background: #6b6b6b;
    border-bottom: 2px solid black; */
}

.question span {
    margin: auto;
}

.choices {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 300px;
    text-align: center;
    justify-content: center;
    gap: 50px;
}

.choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: whitesmoke;
    border: 2px solid gray;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    padding: 50px;
    cursor: pointer;
}

.choice:hover {
    filter: brightness(1.1);
}

.label {
    font-size: 5em;
}

.info {
    font-style: italic;
}

.key {
    display: inline-block;
    background: white;
    border: 1px solid #2d2d2d;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    border-bottom-width: 2px;
    border-right-width: 2px;
}

.image_display {
    display: flex;
    flex-direction: column;
}

.progress {
    height: 5px;
    width: 0;
    background: #ff3636;
}

.image_display img {
    width: 100px;
    height: 100px;
}

.label_img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

#start {
    display: flex;
    flex-direction: column;
    gap: 10px;
}